<div class="wrapper">
    <div class="side-div" *ngIf="ps">
        <div class="opacity">
            <h1 style="text-align: center;">{{ps.name}}</h1>
            <h3 style="text-align: center;">{{ps.email}}</h3>
        </div>
        <div class="nav">
            <app-ps-nav-bar></app-ps-nav-bar>
        </div>
    </div>
    <div class="middle-div">
        <h3 style="text-align: center;">Sent Requests</h3>
        <div *ngFor="let row of requests" class="row">
            <request-card [title]="'Project Join Sent Request'" [owner]="row[0].owner" [project]="row[0].project"
                [status]="row[0].status" [id]="row[0].id"></request-card>
            <request-card *ngIf="row.length > 1" [title]="'Project Join Sent Request'" [owner]="row[1].owner"
                [project]="row[1].project" [status]="row[1].status" [id]="row[1].id"></request-card>
        </div>
    </div>
</div>