<div class="wrapper">
  <div class="card-wrapper">
    <div class="welcome"></div>
    <div class="login-wrapper">
      <div class="login-header">
        <h1>Login</h1>
      </div>
      <div class="form-wrapper">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
          <nz-form-item>
            <nz-form-label nzRequired nzFor="username">Username</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid username!">
              <input
                nz-input
                formControlName="username"
                placeholder="username"
                id="username"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-label nzRequired nzFor="password">Password</nz-form-label>
            <nz-form-control nzErrorTip="The input is not valid Password!">
              <input
                nz-input
                type="password"
                id="password"
                placeholder="password"
                formControlName="password"
              />
            </nz-form-control>
          </nz-form-item>
          <button
            id="submitbtn"
            (click)="submitClicked()"
            nz-button
            nzType="primary"
            style="background-color: #007db8;"
          >
            Login
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
