:host {
    display: flex;
    flex: 1;
    min-height: 100%;
    width: 100%;
  }
  
  nz-header {
    background-color:#007DB8;
    z-index: 2;
  }
  nz-content {
    background-color: #007DB8;
}
  
  nz-footer {
    background-color: #007DB8;
    z-index: 2;
    display: flex;
    justify-content: center;
  }
  
  .footer-text {
    width: fit-content;
    color: white;
    font-size: 90%;
  }