.wrapper {
  width: 100%;
  height: 100%;
  background-color: white;
  background-image: url("../../../assets/map.svg");
  background-repeat: no-repeat;
  background-position: bottom;
  display: flex;
  flex-direction: row;
}
.side-div {
  height: 100%;
  width: 25%;
  padding-top: 4%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.middle-div {
  height: 95%;
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: 0% 2% 0% 1%;
  overflow: auto;
}
.nav {
  padding-top: 10%;
  display: flex;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3f3d56;
}

.card-div {
  width: 100%;
  margin: 3% 0% 1% 0%;
  padding: 2%;
  -webkit-box-shadow: -1px 0px 115px -54px rgba(0, 125, 184, 0.86);
  -moz-box-shadow: -1px 0px 115px -54px rgba(0, 125, 184, 0.86);
  box-shadow: -1px 0px 90px -54px rgba(0, 125, 184, 0.86);
  background-color: rgba(255, 255, 255, 1);
  height: max-content;

}

.card {
  width: 100%;
}
.tags {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.sdg {
  width: 12%;
  height: 12%;
  margin: 1%;
}
.tag {
  background-color: rgba(232, 232, 232, 0.7);
  border-radius: 5px;
  padding: 0% 1% 0% 1%;
  margin: 1%;
  width: max-content;
}
.locations-div {
  margin-top: 15%;
  width: 70%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.location-tag {
  background-color: #007db8;
  color: white;
  border-radius: 5px;
  padding: 0% 2% 0% 2%;
  margin: 1%;
  width: max-content;
}
.project {
  margin-top: 1%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  width: 17%;
  height: 17%;
}
.opacity {
  background-color: rgba(255, 255, 255, 0.98);

}
