:host {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
  align-items: center;
  background-color: #f7f8fa;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 331pt;
  -webkit-text-size-adjust: none;
  flex-direction: column;
  background: #007db8;
  background: linear-gradient(
    180deg,
    rgba(0, 125, 184, 1) 0%,
    rgba(203, 226, 238, 1) 82%,
    rgba(247, 248, 250, 1) 100%
  );
}
.left-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.right-header {
  width: 100%;
  text-align: right;
  margin: 4%;
  height: 100%;
  background-size: 50% 50%;
  background-repeat: no-repeat;
}
h1 {
  color: white;
  font-size: 3.5vw;
}
h2,
h5 {
  color: white;
}
.button {
  font-size: large;
  border-width: 2px;
}
.button:hover {
  border-color: #4eb2e1;
  color: white;
}

#content {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-right: 5%;
}

.content-wrapper {
  background-image: url(../../../../assets/projects-home.svg) fixed no-repeat
    bottom right;
  background-position: right bottom;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  background-size: 75% 100%;
  bottom: 0;
  background-repeat: no-repeat;
}

.card {
  width: 17%;
  height: max-content;
  min-height: 170pt;
  display: flex;
  margin: 2%;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 2%;
  background: rgba(81, 177, 222, 0.9);
  border-radius: 6px;
}

.card:hover {
  -webkit-box-shadow: 0px 0px 44px -11px rgba(0, 125, 184, 0.5);
  -moz-box-shadow: 0px 0px 44px -11px rgba(0, 125, 184, 0.5);
  box-shadow: 0px 0px 44px -11px rgba(0, 125, 184, 0.5);
}

.img {
  width: 40%;
  height: 40%;
}

.arrow {
  width: 20pt;
  height: 20pt;
}

.arrow:hover {
  opacity: 0.5;
}

.nav-bar {
  width: 10%;
  margin-left: 0px;
  z-index: 2;
  margin-top: 5%;
}
.filters{
  width: 100%;
  text-align: end;
  margin-right: 5%;
}


.radio-group-wrapper {
  display: flex !important;
}

.select-wrapper {
  text-align: center;
}
