:host {
  height: 100%;
}
.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: row;
  justify-content: center;
  background: rgb(255, 255, 255);

}
.illustration-div {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.illustration {
  width: 70%;
  height: 100%;
  background-image: url('../../assets/welcome3.svg');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.welcome-div {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.button {
  margin-top: 5%;
  border-radius: 4px;
  width: 200px;
  background-color: #007db8;
  border: none;
  color: #ffffff;
  text-align: center;
  font-size: 16pt;
  padding: 5pt 10pt 5pt 10pt;
  transition: all 0.4s;
  cursor: pointer;
  opacity: 0.99;
  align-self: center;
}
.title {
  font-size: 2vw;
  font-weight: bold;
  text-align: center;
}
.buttons-wrapper {
  align-self: center;
  display: flex;
  flex-direction: column;
}
